.App {
  text-align: center;
}

.icon {
  width: 5%;
  height: 50px;
}

.section1{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  color: aqua;
  border: 1px solid grey;
}

.section2 {
  display: flex;
  justify-content: space-around;
}
